* {
    box-sizing: border-box;
    color: white;
}

body {
    background-color: #2693CA;
}

a {
    text-decoration: none;
}

li {
    opacity: 0.5;
}

li:hover {
    opacity: inherit;
    transition: all ease-in 1s;
}

.cities {
    list-style: none;
    font-family: sans-serif;
    text-align: center;
    padding: 150px;
    margin: 30px;
    font-size: 0;
}

.cities li {
    text-align: inherit;
    display: inline-block;
    font-size: 30px;
}

.lisbon {
    min-width: 50%;
    height: 150px;
    border: 5px solid white;
    background-color: #2693CA;
}

.paris {
    min-width: 25%;
    height: 150px;
    border: 5px solid white;
    background-color: #23BDCA;
}

.belgrade {
    min-width: 25%;
    height: 150px;
    border: 5px solid white;
    background-color: #976F94;
}

.moscow {
    min-width: 25%;
    height: 150px;
    border: 5px solid white;
    background-color: #C75441;
}

.telaviv {
    min-width: 25%;
    height: 150px;
    border: 5px solid white;
    background-color: #E3805B;
}

.cair {
    min-width: 25%;
    height: 150px;
    border: 5px solid white;
    background-color: #FECB5C;
}

.newyork {
    min-width: 25%;
    height: 150px;
    border: 5px solid white;
    background-color: #92C494;
}

.newdelhi {
    min-width: 25%;
    height: 150px;
    border: 5px solid white;
    background-color: #5D9294;
}

.sanfrancisco {
    min-width: 50%;
    height: 150px;
    border: 5px solid white;
    background-color: #CE7293;
}

.tokyo {
    min-width: 25%;
    height: 150px;
    border: 5px solid white;
    background-color: #278D61;
}

.sydney {
    min-width: 100%;
    height: 150px;
    border: 5px solid white;
    background-color: #5E658F;
}

footer {
    font-size: 15px;
}